* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.my-card {
	width: 535px;
	height: 343px;
	padding: 25px;
	border-radius: 15px;
	background: rgb(245, 84, 84);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-opt {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

input {
	border: none;
}
.card-number {
	width: 100%;
	font-size: 16px;
	text-align: center;
}
.exp-date {
	width: 35%;
	font-size: 16px;
	text-align: center;
}
.cvv {
	width: 25%;
	font-size: 16px;
	text-align: center;
}

button {
	font-size: 16px;
	text-align: center;
	border-radius: 8px;
}
.amount {
	width: 40%;
	font-size: 16px;
}

.payment-list {
	font-size: 16px;
	margin-top: 30px;
	padding: 0 10px;
	max-width: 100%;
	max-height: 400px;
	overflow: scroll;
	
}
.payment-list::-webkit-scrollbar {
	width: 0px;
}
@media (max-width: 425px) {

	.my-card {
		width: 316px;
		height: 205px;
		padding: 10px 5px;
	}
	.card-opt {
		gap: 5px;
	}
	
	
	.card-number {
		font-size: 16px;
	}
	.exp-date {
		font-size: 16px;
	}
	.cvv {
		font-size: 16px;
	}
	
	button {
		font-size: 16px;
	}
	.amount {
		font-size: 16px;
	}
	
	.payment-list {
		font-size: 16px;
		margin-top: 10px;
		padding: 0 10px;
		max-height: 500px;
	}
}

