* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
}
.App {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.my-card {
	width: 535px;
	height: 343px;
	border-radius: 15px;
	padding: 30px;
	background: rgb(245, 84, 84);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card-opt {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

input {
	border: none;
	border-radius: 8px;
	outline: none;
	padding: 5px 15px;
	font-size: 30px;
	line-height: 0px;
	text-align: center;
	height: 45px;
}
.card-number {
	width: 475px;
}
.exp-date {
	width: 150px;
}
.cvv {
	width: 100px;
}

.conf {
	display: flex;
text-align: end;
}
button {
	width: 200px;
	height: 45px;
	top: 200px;
	right: 30px;
	font-size: 30px;
	text-align: center;
	border-radius: 8px;
}
.amount {
	width: 200px;
}
